@model Poke.Models.Moves

@{
    ViewData["Title"] = "View";
    var move = ViewData["move"] as Moves;
}

<h1>View</h1>

<div>
    <div>@move.name</div>
    <div>@move.type.name</div>
    <div>@move.power</div>
    <div>@move.accuracy</div>
    <div>@move.effect_chance</div>
    <div>@move.pp</div>

  
</div>
