@model Poke.Models.Pokemon

@{
    ViewData["Title"] = "Pokemon";
    var pokelist = ViewData["pokemon"] as List<Pokemon>;
}

<h1>Pokemon</h1>

<div>
    
    <table style="width:100%">
        <tr>
            <th>PokeDex Number</th>
            <th>name</th>
            <th>Sprite</th>
            <th>Abilities</th>
        </tr>
        @foreach (var poke in pokelist)
        {

        <tr>
            <td><a class="nav-link text-dark" asp-area="" asp-controller="Poke" asp-action="Details" asp-route-id="@poke.id">@poke.id</a></td>
            <td><a class="nav-link text-dark" asp-area="" asp-controller="Poke" asp-action="Details" asp-route-id="@poke.id">@poke.name</a></td>
            <td><a class="nav-link text-dark" asp-area="" asp-controller="Poke" asp-action="Details" asp-route-id="@poke.id"><img src="@poke.sprites.front_default"></a></td>
            <td>@foreach (var ability in @poke.abilities) { @ability.ability.name<br />} </td>
        </tr>
        }
    </table>
    <hr />
   
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
